:root {
  --toastify-color-light: #fafafadd;
  --toastify-color-dark: #09090bdd;
  
  --toastify-color-info: #3b82f6;
  --toastify-color-success: #10b981;
  --toastify-color-warning: #f59e0b;
  --toastify-color-error: #ef4444;
  --toastify-color-transparent: #fafafab3;

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;

  --toastify-toast-background: #fff;

  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;

  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: var(--toastify-color-info);
  --toastify-color-progress-dark: var(--toastify-color-info);

  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify__toast {
  border-radius: 8px;
  padding: 16px;
}